### **TOP MALAYALAM MOVIES**

In [51]:
import pandas as pd
import numpy as np

In [9]:
data=pd.read_csv('/content/movies_metadata (1).csv')
data

<ipython-input-9-4bff2d001867>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('/content/movies_metadata (1).csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [12]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [11]:
data.size

1091184

**FILTER MALAYALAM MOVIES**

In [13]:
malayalam_movies=data[data['original_language'] =='ml']
malayalam_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
21727,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,256382,tt0078381,ml,തമ്പു്,"Across a dirt road, the circus truck comes to ...",...,1978-01-18,0.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,The Circus Tent,False,5.0,1.0
22148,False,NaN,110000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10402, ...",NaN,180048,tt2786278,ml,ആമേൻ,"Solomon, who belongs to a band, is in love wit...",...,2013-03-21,270000.0,165.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,What we play is life,Amen,False,6.9,6.0
25761,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",http://aashirvadcinemas.com/view_details.php?m...,244049,tt3417422,ml,ദൃശ്യം,Georgekutty lives a happy life with his wife a...,...,2013-12-19,12000000.0,160.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,Visuals can be deceiving,Drishyam,False,8.1,23.0
30214,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,126969,tt0116749,ml,കഥാപുരുഷൻ,This intimately-constructed drama traces the c...,...,1996-09-06,0.0,107.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Man of the Story,False,5.0,1.0
32016,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,207649,tt0202055,ml,വാനപ്രസ്ഥം,"Kunhikuttan, a famous Kathakali dancer, meets ...",...,1999-05-13,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Vanaprastham,False,7.2,6.0
32121,False,NaN,39000,"[{'id': 18, 'name': 'Drama'}]",NaN,169364,tt0069334,ml,സ്വയംവരം,"Vishwam and Sita, who resist the opposition fr...",...,1972-11-23,0.0,131.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Swayamvaram,False,8.0,1.0
32206,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",https://www.facebook.com/MemoriesMalayalamMovie,217389,tt3124456,ml,മെമ്മറീസ്,"Prithviraj is a police officer named Sam Alex,...",...,2013-08-08,0.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An Episode in the Life of a Police Officer...!,Memories,False,7.2,9.0
32207,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",NaN,190945,tt2924472,ml,മുംബൈ പോലീസ്,Mumbai Police tells the friendship of 3 police...,...,2013-05-02,0.0,145.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Mumbai Police,False,7.4,10.0
33163,False,NaN,7400000,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,268660,tt3668162,ml,ബാംഗ്ലൂർ ഡെയ്സ്,A fun roller coaster ride about three young pe...,...,2014-05-30,1300000.0,172.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Three cousins set out to fulfill their Bangalo...,Bangalore Days,False,7.4,19.0
33164,False,NaN,220000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,257160,tt3517192,ml,ഓം ശാന്തി ഓശാന,"Pooja Mathew (Nazriya Nazim), daughter of Doct...",...,2014-02-07,1500000.0,130.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Ohm Shanthi Oshaana,False,6.9,8.0
33292,False,NaN,18000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,134474,tt0353496,ml,ഗോഡ്ഫാദർ,"The story of Anjooran (N. N. Pillai), and his ...",...,1991-03-03,700000.0,150.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Godfather,False,6.9,4.0
34216,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,278393,tt4176604,ml,വർഷം,"The film narrates the tale of Venu, owner of a...",...,2014-11-06,0.0,140.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Varsham,False,6.7,6.0
34217,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,134477,tt0353975,ml,സന്ദേശം,"After his retirement, Raghavan Nair (Thilakan)...",...,1991-02-04,0.0,137.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,The message,Sandesham,False,8.8,5.0
34640,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,84368,tt0214915,ml,മണിച്ചിത്രത്താഴ്,"A young couple, Ganga (Shobana) and Nakulan (S...",...,1993-12-25,0.0,169.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,The Ornate Lock,Manichitrathazhu,False,7.4,9.0
34641,False,"{'id': 415699, 'name': 'Devasuram Collection',...",0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,237672,tt0291855,ml,ദേവാസുരം,"Neelakantan, heir to his father's fortunes, is...",...,1993-04-14,0.0,160.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Devasuram,False,6.4,8.0
34956,False,NaN,6200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,341895,tt4679210,ml,പ്രേമം,"Three stages in George's life, and three girls...",...,2015-05-29,11000000.0,165.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,Love,Premam,False,6.4,13.0
35124,False,NaN,1050255,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,338930,tt4881242,ml,ലോഹം,2015 Malayalam thriller film written and direc...,...,2015-08-20,2250547.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,The Yellow Metal,Loham,False,4.4,5.0
35125,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,332827,tt4553712,ml,എന്നും എപ്പോഴും,"Vineeth, a senior reporter, tries to interview...",...,2015-03-27,0.0,147.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Ennum Eppozhum,False,5.3,5.0
35126,False,NaN,598500,"[{'id': 18, 'name': 'Drama'}]",NaN,120149,tt2175672,ml,സ്പിരിറ്റ്,Raghunandan (Mohanlal) is a TV show host and a...,...,2012-06-14,0.0,145.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Spirit,False,6.3,9.0
35153,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,179375,tt2773898,ml,റെഡ്‌ വൈൻ,An investigatory story that centers around an ...,...,2013-03-22,0.0,146.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Red Wine,False,4.6,5.0
35270,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,178314,tt2522328,ml,ഷട്ടര്‍,Rasheed (Lal) is a Malayali non-resident India...,...,2013-02-22,0.0,134.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Shutter,False,7.7,6.0
39419,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,137308,tt0470913,ml,Sancharram,"In Sancharram (""The Journey""), Kiran is mortif...",...,2004-10-01,0.0,107.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Sancharram,False,5.3,3.0
39501,False,NaN,1900000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.facebook.com/CharlieMovieOfficial,372297,tt5082014,ml,ചാര്‍ലി,"A young, nonconforming woman named Tessa gets ...",...,2015-12-24,5900000.0,130.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Charlie,False,7.4,10.0
39813,False,NaN,120000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",NaN,105506,tt2345561,ml,ഗ്രാന്‍റ്മാസ്റ്റര്‍,Chandrashekhar lives alone in a dark and viole...,...,2012-05-03,130000.0,130.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,Anything can happen before the next move,Grandmaster,False,6.1,10.0
40322,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}]",NaN,278041,tt0271572,ml,അയ്യർ ദ ഗ്രേറ്റ്,"Vaikundam Soorya Narayana Iyer (Mammootty), a ...",...,1990-08-31,0.0,115.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Iyer the Great,False,0.0,0.0
40323,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",https://www.facebook.com/MaheshintePrathikaara...,381691,tt4851630,ml,മഹേഷിന്‍റെ പ്രതികാരം,"Mahesh, a studio photographer and owner of the...",...,2016-02-05,230000.0,121.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Maheshinte Prathikaaram,False,7.7,9.0
40354,False,"{'id': 415695, 'name': 'Nadodikkattu Collectio...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,152625,tt0254942,ml,അക്കരെയക്കരെയക്കരെ,After Nadodikkattu (1987) and Pattana Pravesha...,...,1990-01-01,0.0,150.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,An American Mission of Mohanlal & Sreenivasan,Akkare Akkare Akkare,False,7.3,4.0
40355,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,210737,tt0290937,ml,യോദ്ധാ,Ashokan (Mohanlal) goes on a trip to Nepal to ...,...,1992-09-02,0.0,129.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Yodha,False,8.3,5.0
40356,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://pinneyum.com,411822,tt5578722,ml,പിന്നെയും,After years spent living off the modest wealth...,...,2016-08-18,0.0,122.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Once Again,False,0.0,0.0
41516,False,NaN,450000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,422603,tt5998104,ml,ആനന്ദം,Aanandam is a 2016 Indian Malayalam campus mus...,...,2016-10-21,2300000.0,134.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Aanandam,False,6.4,7.0
41517,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,402217,tt5528278,ml,ഹാപ്പി വെഡ്‌ഡിങ്,The story of an engineering graduate (Wilson) ...,...,2016-05-20,0.0,128.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Happy Wedding,False,4.7,5.0
41518,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,411279,tt5436168,ml,പ്രേതം,Three happy-go-lucky friends run a coastal res...,...,2016-08-12,0.0,127.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,How? Why? What did you gain?,Pretham,False,5.7,7.0
41519,False,NaN,600000,"[{'id': 18, 'name': 'Drama'}]",http://www.guppy.in/,411054,tt5889462,ml,ഗപ്പി,The story revolves around a boy named Guppy(Ma...,...,2016-08-05,0.0,158.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,NaN,Guppy,False,7.9,4.0
41520,False,NaN,1500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,398786,tt5458088,ml,കമ്മട്ടിപ്പാടം,"Krishnan, who has been living away from his fa...",...,2016-05-20,0.0,177.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Kammatipaadam,False,8.1,9.0
41521,False,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,381374,tt5320514,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,...,2016-02-04,2500000.0,144.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,A ride with a police officer,Action Hero Biju,False,7.7,6.0
44285,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,117751,tt2218988,ml,ഉസ്‌താദ്‌ Hotel,Ustad Hotel is a quaint place run by a foodie ...,...,2012-06-29,0.0,150.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Ustad Hotel,False,7.2,15.0

In [15]:
malayalam_movies.size

864

In [16]:
malayalam_movies.shape

(36, 24)

In [75]:
def weighted_rating(df):

   #1
    m = df['vote_count'].quantile(0.8)
    print(f"Minimum votes required for consideration: {m}")

    #2
    qualified_movies = df[df['vote_count'] >= m]
    print(f"Number of qualified movies: {len(qualified_movies)}")

    #3
    qualified_movies = qualified_movies[(qualified_movies['runtime'] >= 45) & (qualified_movies['runtime'] <= 300)]
    print(f"Number of qualified movies within runtime range: {len(qualified_movies)}")


    qualified_movies['score'] = (qualified_movies['vote_count'] / (qualified_movies['vote_count'] + m)) * qualified_movies['vote_average'] + (m / (qualified_movies['vote_count'] + m)) * qualified_movies['vote_average'].mean()


    qualified_movies = qualified_movies.sort_values(by='score', ascending=False)
    print("Top 5 movies based on IMDb weighted rating:")
    print(qualified_movies[['title', 'vote_count', 'vote_average', 'score']].head(10))

    return qualified_movies

result = weighted_rating(malayalam_movies)

Minimum votes required for consideration: 9.0
Number of qualified movies: 12
Number of qualified movies within runtime range: 12
Top 5 movies based on IMDb weighted rating:
                         title  vote_count  vote_average     score
25761                 Drishyam        23.0           8.1  7.853906
41520            Kammatipaadam         9.0           8.1  7.662500
40323  Maheshinte Prathikaaram         9.0           7.7  7.462500
33163           Bangalore Days        19.0           7.4  7.343750
32207            Mumbai Police        10.0           7.4  7.317105
39501                  Charlie        10.0           7.4  7.317105
34640         Manichitrathazhu         9.0           7.4  7.312500
32206                 Memories         9.0           7.2  7.212500
44285              Ustad Hotel        15.0           7.2  7.209375
35126                   Spirit         9.0           6.3  6.762500